# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

.claude/skills/

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

test-results/
playwright-report/

public/cards/foils/

public/cards/masks/

public/cards/fronts/

public/img/151/

public/img/

DEPLOYMENT.md

NPM-CONFIG.md

public/cards/etch-foils/

public/cards/holo-masks/

refs/

public/sv3-5_en/etch-foils/

public/sv3-5_en/fronts/

public/sv3-5_en/holo-masks/

public/sv8-5_en/fronts/

public/sv8-5_en/holo-masks/

public/sv8-5_en/etch-foils/

public/sv3-5_en/sv3-5.en-US.json

public/sv8-5_en/sv8-5.en-US.json

public/sv-4-5_en/

public/sv4-5_en/.staging/etches/

public/sv4-5_en/.staging/foils/

public/sv4-5_en/.staging/fronts/

public/sv4-5_en/.staging/fronts_up/

public/sv4-5_en/fronts/

public/sv4-5_en/
